{{> meta}}
{{> styles }}

<body style='margin: 0; padding: 0;'>

{{{makeButton "click clack" "16" "700" "none" "cos.pl" "250" "50" "blue" "red" "10" "fff" "left" }}}

test+1+1+1+1+1+1+1+1++1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+!+1+1+1+1+1+1+1+1+1+1+1+1s+1+1+1+1+1+1+1+1+1+1+1
</body>

</html>