{{> meta}}
{{> styles }}

<body style='margin: 0; padding: 0;'>

{{{makeButton "bang" story.pencilsharpener.pl story.260px story.blue }}}

test+1+1+1+1+1+1+1+1++1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+!+1+1+1+1+1
</body>

</html>