{{> meta}}
{{> styles }}

<body style='margin: 0; padding: 0;'>

{{{makeButton "bang" "cos.pl" "260px" "blue" }}}

test+1+1+1+1+1+1+1+1++1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+!+1+1+1+1+1
</body>

</html>