<!-- Logo -->
<div class="logotype">
  <br/><br/>
  <a href="http://www.absolvent.pl/?utm_content=logotype">
    <img src="https://www.absolvent.pl/img/common/new_logotype.jpg">
  </a>
    <br/>
  <p style="color: #989898; font-size: 11px; font-family: Helvetica Neue,Helvetica,Arial,sans-serif;">
    Kariera Studenta i Absolwenta
  </p>
  <br/>
</div>